section {
    padding: 60px 0;
    width: 100%;
    min-height: 100vh;
}

/* .container {
  width: 100%;
  height: 100vh;
  border: 2px solid #a00005;
} */

.header-musique {
  width: 100%;
  height: 40vh;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../ressources/images/main-music.jpeg');

}

.header-musique h2 {
  color: #fff;
  text-align: center;
  padding: 100px;
  font-size: 3rem;
}

 .contains {
  margin-top: 3%;
  margin-bottom: 3%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  display: flex;
 
} 

/* card musique */
.cadre-m {
  width: 100%;
  height: 100%;
  border-radius: 17px;
}

.card {
  box-sizing: border-box;
  width: 400px;
  height: 300px;
  /* background: rgba(217, 217, 217, 0.58); */
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}
.crd-musi {
  width: 100%;
  height: 100%;
}

.card h4 {
  font-size: 1.2rem;
  
}

.card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}