/* free section */
.first-section{
  width: 100%;
  height: 100%;
  border: 2px solid rgb(20, 43, 218);
}
.slider {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-content {
  position: absolute;
  margin: 20px 100px;
  top: 200px;
  right: 100px;
  color: #fff;
}

.slide-content h2 {
  font-size: 30px;
  margin: 0 auto;
  color: rgb(183, 5, 5);
}


.slide-content p {
  font-size: 4rem;
  align-items: center;
  justify-content: center;
}
/* ******* two section  ****/

.two-section{
  margin-top: 1.5%;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border: 5px solid rgb(218, 20, 185);
}
.main_accueil {
  width: 100%;
  height: 50vh;
  background: rgb(185, 97, 97);
}

/*cards*/
.contain-cards{
  margin-top: 2%;
  margin: 50px 200px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
 
.card {
  position: relative;
  width: 500px;
  height: 500px;
  /* background-image: linear-gradient(-40deg, #f89b29 0%, #ff0f7b 100% );  */
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  padding: 10px 30px;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card img{
  width: 100%;
  height: 50%;
}

.heading {
  font-size: 24px;
  font-weight: 700;
  color: #110606;
}

.para {
  text-align: center;
  color: #120a0a;
  opacity: 0.7;
  line-height: 1.4;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.card:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}

.card .card-btn {
  position: absolute;
  top: 40%;
  left: 50%;
  color: #000;
  font-weight: 600;
  padding: 10px 20px;
  font-size: 16px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999;
  border: none;
  opacity: 0;
  scale: 0;
  transform-origin: 0 0;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card .card-btn a{
  color: #000;
  text-decoration: none;
}

.card:hover .card-btn {
  opacity: 1;
  scale: 1;
}

.card .card-btn:hover {
  box-shadow: 0 0 0px 5px rgb(183, 5, 5);
}

.card .card-btn:active {
  scale: 0.95;
}

.overlay::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(-45deg, #f89b2980 0%, #ff0f7b80 100% ); */
  transition: transform 0.5s ease;
}

.card:hover .overlay::after {
  transform: translate(-50%, -50%) scale(2);
}

/* troisième section  */

.session{
  width: 100%;
  height: 100%;
  

  border: 2px solid rgb(5, 84, 46);

}


/* Styles pour les autres sections */
.session {
  /* padding: 4rem 0; */
  /* text-align: center; */
  
}

.cardee{
  justify-content: center;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding: 4px;
}

.cardd {
  width: 400px;
  height: 300px;
  border-radius: 10%;
  background: rgb(21, 1, 1);
  transition: all 500ms;
  opacity: 1; 
 }

 .cardd img {
  width: 100%;
  height: 300px;
  border-radius: 10%;
 }

 .cardd:hover {
  opacity: 0.8;
  transform: scale(1.10);
 }
 
 /* carousel gastromine */
 

/* fin de carousel */
 


.section-content {
  max-width: 800px;
  margin: 0 auto;
  color: rgb(242, 232, 232);
  border: 2px solid rgb(189, 127, 4);
}

/* face */
.card-facce {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.card-containerV {
  width: 400px;
  height: 300px;
  position: relative;
  border-radius: 10px;
}

.card-containerV::before {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.cardV {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow: hidden;
}

.cardV .img-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: scale 0.6s, rotate 0.6s, filter 1s;
}

.cardV .img-content img {
  width: 100%;
  height: 100%;
  fill: #e8e8e8;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.cardV .ctnt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  color: #e8e8e8;
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(50px);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.cardV .ctnt .heading {
  font-size: 32px;
  font-weight: 700;
}

.cardV:hover .ctnt {
  opacity: 1;
  transform: translateY(0);
}

.cardV:hover .img-content {
  scale: 2.5;
  /* rotate: 20deg; */
  filter: blur(0px);
}

.card:hover .img-content img {
  fill: transparent;
}

/* face */





/* cartes villes */
.card_ville{
  max-width: 400px;
  border-radius: 0.5rem;
  background-color:#fff;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  box-shadow: 2px 3px 4px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
}

.card_ville a {
  text-decoration: none
}

.card_ville img {
  width: 100%;
}

.content {
  padding: 1.1rem;
}

/* .image {
  object-fit: cover;
  width: 100%;
  height: 200px;
 
} */

.title {
  color: #111827;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.description {
  margin-top: 0.5rem;
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.action {
  display: inline-flex;
  margin-top: 1rem;
  color: #e19191;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #2563EB;
  padding: 4px 8px;
  border-radius: 4px;
}

.action span {
  transition: .3s ease;
}

.action:hover span {
  transform: translateX(4px);
}
/*****/

.section-content h2 {
  color: #000;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.section-content p {
  color: #000;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.section-content .btn {
  display: inline-block;
  background-color: #ff9900;
  color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

