<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>histoire</title>
    <link rel="stylesheet" href="../CSS/header.css" />
    <link rel="stylesheet" href="../CSS/histoire.css">
    <link rel="stylesheet" href="../CSS/footer.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="/index.html"><h1>Ayoka</h1></a>
                <img src="" alt="">
            </div>
            <ul>
                <li><a href="/index.html" class="active">Accueil</a></li>
                <li><a href="../views/histoire.html">Histoire</a></li>
                <li><a href="../views/musique.html">Musique</a></li>
                <li><a href="../views/coutumes.html">Coutumes</a></li>
                <li><a href="../views/artisanat.html">Artisanats</a></li>
                <li><a href="../views/connexion.html" class="btn-login">Connexion</a></li>
            </ul>
            <div class="menuBurger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
              </div>
        </nav>
    </header>
   <section class="accueil-histo">
    <div class="history">
        
            <h1>Histoire de la culture du peuple Dida</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt posuere tristique. Nulla a neque ut libero fermentum malesuada. Nunc eleifend ac libero at finibus. Nulla vitae consectetur turpis. Ut ac lectus id est consectetur euismod. Sed accumsan, mi nec malesuada tincidunt, neque nulla sagittis nisi, in volutpat felis libero id odio. Nullam tristique euismod nisi, eget posuere nisi aliquam at. Nulla facilisi. Sed at odio consequat, auctor mauris ac, egestas mi.
            </p>
            <p>
              Vivamus vel dapibus ex. Vestibulum in turpis eu odio venenatis facilisis. Sed ac odio felis. Aenean semper euismod lacus, nec facilisis ligula bibendum sit amet. Nam cursus pharetra tellus nec dignissim. Nullam facilisis nisi purus, et vestibulum orci bibendum id. Donec blandit consectetur metus nec rhoncus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            </p>
          
    </div>
   </section>
    <!-- footer -->
    <footer>
        <div class="btn-abonez">
          <div class="cont-elm"> 
            <h3>NEWSLETTER</h3>
            <div class="input-container">
              <input placeholder="votre adresse e-mail" name="email" type="text" class="input">
              <span>S'abonner</span>
          </div>
          </div>
       </div>
         
      <div class="footer-container">
        <div class="footer-elm">
          <a href="">Ayoka</a>
        </div>
        <div class="footer-elm">
          <a href="./views/apropos.html">Apropos de nous</a>
        </div>

        <div class="footer-elm">
          <h3>Contactez-nous</h3>
          <p>(+225)0787110625 / 0566564583</p>
          <a href="mailto:ayoka@example.com">ayoka@gmail.com</a>
        </div>
        
        <div class="footer-elm">
          <h3>Suivez-nous</h3>
        </div>
      </div>
      <div class="footer-bottom">
          <p>&copy; 2023 Culture Dida - Tous droits réservés | Réalisé par Ayoka</p>
      </div>
  </footer>

    <script src="../JS/header.js"></script>
</body>
</html>