<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>musique</title>
    <link rel="stylesheet" href="/CSS/header.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href=""><h1>Ayoka</h1></a>
                <img src="" alt="">
            </div>
            <ul>
                <li><a href="/index.html" class="active">Accueil</a></li>
                <li><a href="/views/histoire.html">Histoire</a></li>
                <li><a href="/views/musique.html">Musique</a></li>
                <li><a href="/views/coutumes.html">Coutumes</a></li>
                <li><a href="/views/artisanat.html">Artisanats</a></li>
                <li><a href="/views/connexion.html" class="btn-login">Connexion</a></li>
            </ul>
            <div class="menuBurger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
              </div>
        </nav>
    </header>
    <main>
        
    </main>
    <script src="../JS/header.js"></script>
</body>
</html>