<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ayoka</title>
  <link rel="stylesheet" href="./CSS/styles.css">
</head>
<body>
  <header>
   <div class="logo">
    <a href="index.html"><h1>Ayoka</h1></a>
  </div>
    <nav>
      <ul>
        <li><a href="#coutumes">Créer un compte</a></li>
        <li><a href="./views/connexion.html">Connexion</a></li>
      </ul>
    </nav>
  </header>
  <header>
     <nav>
       <ul>
         <li><a href="#accueil">Accueil</a></li>
         <li><a href="#histoire">Histoire</a></li>
         <li><a href="#musique">Musique</a></li>
         <li><a href="#artisanat">Artisanat</a></li>
         <li><a href="#coutumes">Coutumes</a></li>
         <li><a href="./views/connexion.html">Compte</a></li>
       </ul>
     </nav>
   </header>

  <main>
    <section id="accueil">
      <h2>Bienvenue sur le site de la culture Dida</h2>
      <p>Explorez et découvrez la riche culture du peuple Dida.</p>
    </section>

    <section id="histoire">
      <h2>Histoire du peuple Dida</h2>
      <p>Apprenez-en plus sur l'histoire fascinante du peuple Dida et son évolution à travers les siècles.</p>
    </section>

    <section id="musique">
      <h2>Musique et danse Dida</h2>
      <p>Découvrez les rythmes et les danses traditionnelles qui font partie intégrante de la culture Dida.</p>
    </section>

    <section id="artisanat">
      <h2>Artisanat Dida</h2>
      <p>Explorez l'artisanat dida, y compris les sculptures sur bois, les poteries et les tissus traditionnels.</p>
    </section>

    <section id="coutumes">
      <h2>Coutumes et traditions Dida</h2>
      <p>Découvrez les coutumes et les traditions du peuple Dida, des cérémonies de passage aux fêtes communautaires.</p>
    </section>
  </main>

  <footer>
    <p>&copy; 2023 Culture Dida. Tous droits réservés.</p>
  </footer>
</body>
</html>
